* {
    margin:0;
}

section{
    margin-left: 5px;
    margin-top: 20px;
}


figcaption{
    font-size: small;
}

ul{
    padding-left: 20px;
}

table{
    border-spacing: 0;
}

thead{
    background-color: #4194ec;
    color: white;
    text-align: left;
}

footer{
    margin-left:5px ;
    margin-top: 30px;
}

footer>h4{
    color: grey;
}

.short{
    width: 300px;
}

.hightlight{
    background-color: yellow;
}

.bg_lb{
    background-color: lightblue;
}

.page-title{
    width: 60%;
    margin: auto;
    margin-top: 20px;
}

.text-lightblue{
    color: rgb(61, 184, 225);
}

.title-description{
    color: gray;
}

.art_1{
    background-image: url("../img/monitor.jpg");
    width: 250px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 10px;
}

.art_2{
    background-image: url("../img/graph.jpg");
    width: 250px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 10px;
}

.text-white{
    color: white;
    padding-left: 10px;
    padding-top: 15px;
}

#data{
    font-size: small;
}

#banner {
    width: 100%;
    height: 100px;
    background-color: #4194ec;
    background-image: url("../img/pattern.png");
    background-size: 400px;
}

#booleaner-logo {
    height: 60px;
    width: 100%;
    background-image: url("../img/logo.svg");
    background-size: 200px;
    background-repeat: no-repeat;
    padding-top: 30px;
    margin-left: 5px;
    background-position: bottom left;
}

