* {
    margin:0;
}

section{
    margin-left: 5px;
    margin-top: 20px;
}


figcaption{
    font-size: small;
}

ul{
    padding-left: 15px;
}

.hightlight{
    background-color: yellow;
}

.page-title{
    margin-left: 5px;
    margin-top: 20px;
}

.text-lightblue{
    color: rgb(61, 184, 225);
}

.title-description{
    color: gray;
}

#data{
    font-size: small;
}

#banner {
    width: 100%;
    height: 100px;
    background-color: #4194ec;
    background-image: url("../img/pattern.png");
    background-size: 400px;
}

#booleaner-logo {
    height: 60px;
    width: 100%;
    background-image: url("../img/logo.svg");
    background-size: 200px;
    background-repeat: no-repeat;
    padding-top: 30px;
    margin-left: 5px;
    background-position: bottom left;
}

